$couleur1: #e8c411;
$couleur2: #11b6e8;
$couleur3: #0e2add;

@mixin regle_couleur($selecteur, $couleur) {
    #{$selecteur} {
        color: var(#{$couleur});
    }
}

@mixin regle_couleur_back($selecteur, $couleur) {
  #{$selecteur} {
    background-color: var(#{$couleur});
  }
}

@mixin regle_couleur_avant_arriere($selecteur, $avant, $arriere) {
  #{$selecteur} {
    color: var(#{$avant});
    background-color: var(#{$arriere});
  }
}